.root{

	-fx-background-color:linear-gradient(#1C86EE 50% , white 50%);

}

.mini-root{

	-fx-background-color:white;
	-fx-background-radius:0px 20px 0px 20px;
}


.button{

	-fx-background-color:linear-gradient( #104E8B 2%, #1C86EE 80% ) ;
	-fx-background-radius:20px;
	-fx-text-fill:white ;
}


.button:hover{

	-fx-background-color:linear-gradient(#1C86EE ,  #104E8B ) ;
	-fx-background-radius:20px;
	-fx-text-fill:white ;
}


.wrong-credentials{

	-fx-jfx-unfocuse-color:#B0171F;
	-fx-jfx-focuse-color:#DC143C;

}